li a {
    padding: 10px;
}
.container{
    margin-bottom: 100px;
}
.buy-now-button{
    background-color: black;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
}
.orange-bg{
    background-image: url();
}
.carousel-item{
    padding: 20px 40px;
} 
.see-all{
    color: #ffce19;
    font-size: 20px;
    padding: 5px 10px;
}
.smartphones{
    margin-bottom: 50px;
}
.card{
    border: none;
    padding: 10px 40px;
    text-align: center;
}
.Buy-Now{
    border: none;
    background-color: black;
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
}
.card-footer{
    border: none;
}
.Catagories{
   border-bottom:  #ffce19;
   padding-bottom: 3px;
}
span{
    display:inline-block;
    border-bottom:4px solid rgb(226, 156, 27);
    padding-bottom:2px;
}
.pale{
    width:50%;
}
.Bag, .Perfume, .Shoes{
    text-align: center;
}
.b-shadow{
    box-shadow: 0px 0px 10px rgb(218, 205, 205);
    border-radius: 5px;
}
.b-shadow{
    margin-bottom: 30px;
}
footer{
    text-align: center;
    margin-top: 100px;
}